body {
    background-image: url("img/slim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
}

form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 250px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(105, 104, 105, 0.418);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    position: relative;
    align-items: center;
    width: 65%;
    height: 36px;
    text-align: center;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    font-size: 10px;
}

#user {
    position: absolute;
    top: 36px;
    font-size: 10px;
}

#email {
    position: absolute;
    top: 90px;
    font-size: 10px;
}

textarea {
    font-size: 10px;
    position: absolute;
    top: 144px;
    padding: 5px;
    width: 65%;
    height: 90px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
}

.first {
    top: 4vh;
}

.first h2 {
    padding-bottom: 10px;
}

button.send {
    position: absolute;
    top: 252px;
    width: 65%;
    height: 36px;
    cursor: pointer;
    background-color: rgb(248, 89, 240);
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 10px;
}

.send:hover {
    background: rgb(252, 97, 244);
}

.sign {
    display: block;
    position: absolute;
    top: 306px;
    padding: 0px 45px 0px 45px;
    line-height: 50%;
    height: 72px;
    width: 100%;
}

.icons {
    position: absolute;
    width: 100%;
    top: 396px;
    height: 36px;
    text-align: center;
}

#check {
    width: 10px;
    height: 10px;
}

.rodo {
    color: black;
    font-size: 8px;
    padding-left: 2px;
}

path:hover {
    fill: #F859F8;
}

footer {
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: 10px;
}