@media (max-width: 640px) and (orientation: landscape) {

    body {
        min-height: 1659px;
    }

    section.first {
        top: 50vh;
    }

    section.second {
        top: 150vh;
        right: 10%;
    }

    section.third {
        top: 250vh;
    }

    .fourth {
        height: 40vh;
        top: 380vh;
    }

    footer {
        top: 1647px;
    }
}

@media (min-width: 361px) and (max-width: 768px) and (orientation: portrait) {

    body {
        min-height: 1990px;
    }

    section.first {
        top: 25vh;
    }

    section.second {
        top: 70vh;
        right: 20%;
    }

    section.third {
        top: 110vh;
    }

    .fourth {
        top: 165vh;
    }

    footer {
        top: 1970px;
        font-size: 14px;
    }
}

@media (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {

    body {
        min-height: 2654px;
    }

    section.first {
        top: 50vh;
    }

    .second,
    .fourth {
        right: 5%;
    }

    section.second {
        top: 135vh;
    }

    section.third {
        top: 200vh;
    }

    .fourth {
        height: 35vh;
        top: 2100px;
    }

    .fourth h2 {
        padding-bottom: 20px;
    }


    footer {
        font-size: 16px;
        top: 2630px;
    }
}


@media (min-width: 1025px) and (orientation: landscape) {

    body {
        min-height: 4147px;
    }

    section.first {
        top: 60vh;
    }

    section.second {
        top: 220vh;
        right: 20%;
    }

    section.third {
        top: 330vh;
    }

    .fourth {
        height: 45vh;
        top: 3550px;
    }

    .fourth h2 {
        padding-bottom: 40px;
    }

    footer {
        font-size: 14px;
        top: 4125px;
    }
}

@media (min-width: 1601px) and (orientation: landscape) {
    section.second {
        top: 180vh;
    }

    section.third {
        top: 260vh;
    }

}