section {
    position: absolute;
    height: 15vh;
    width: 20vh;
    opacity: 0;
    transform: translateX(1vw);
    -webkit-transform: translateX(1vw);
    -moz-transform: translateX(1vw);
    -ms-transform: translateX(1vw);
    -o-transform: translateX(1vw);
}

section.first {
    left: 0;
    width: 30vh;
}

h2 {
    top: 0vh;
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 0px;
}

span {
    display: block;
    font-size: 8px;
    font-weight: 400;
    padding-bottom: 10px;
}

section.active {
    opacity: 1;
    transition: 1.5s;
    transform: translateX(calc(10% + 1vw));
    -webkit-transform: translate(calc(10% + 1vw));
    -moz-transform: translate(calc(10% + 1vw));
    -ms-transform: translate(calc(10% + 1vw));
    -o-transform: translate(calc(10% + 1vw));
}

@media (max-width: 640px) and (orientation: landscape) {

    section {
        height: 35vh;
        width: 70vh;
    }

    section.first {
        width: 70vh;
    }

    h2 {
        font-size: 32px;
    }

    span {
        font-size: 12px;
    }
}

@media (min-width: 361px) and (max-width: 768px) and (orientation: portrait) {

    section {
        position: absolute;
        height: 15vh;
        width: 25vh;
    }

    section.first {
        position: absolute;
        width: 25vh;
    }

    h2 {
        font-size: 34px;
    }

    span {
        font-size: 14px;
    }

}

@media (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {

    section {
        height: 30vh;
        width: 70vh;
    }

    section.first {
        width: 70vh;
    }

    h2 {
        font-size: 65px;
    }

    span {
        font-size: 25px;
        padding-bottom: 25px;
    }

}


@media (min-width: 1025px) and (orientation: landscape) {


    section {
        height: 40vh;
        width: 70vh;
    }

    section.first {
        width: 80vh;
    }

    h2 {
        font-size: 70px;
        padding-bottom: 10px;
    }

    span {
        font-size: 18px;
        padding-bottom: 40px;
    }

}